* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: white;
}

#board {
  display: flex;
  flex-wrap: wrap;
  width: 325px;
  height: 320px;
}

.boxgreen {
  height: 40px;
  width: 40px;
  background-color: black;
}
.boxwhite {
  height: 40px;
  width: 40px;
  background-color: rgb(248, 191, 117);
}
